<p id="notice"><%= notice %></p>

<h1>Ticket Sources</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_sources.each do |ticket_source| %>
      <tr>
        <td><%= ticket_source.name %></td>
        <td><%= link_to 'Show', ticket_source %></td>
        <td><%= link_to 'Edit', edit_ticket_source_path(ticket_source) %></td>
        <td><%= link_to 'Destroy', ticket_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket Source', new_ticket_source_path %>
