

<!-- Modal -->
<div class="modal fade" id="modal_imei" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h5> Datos del GPS</h5>
            
        </li>
  <div class="container">
    <dl>
      <%if @result == nil %>
        <dd>No existen datos</dd>
      <%else%>
        <dd>Modelo    : <%= @result['MODEL'] %></dd>
        <dd>Chip      : <%= @result['CHIP'] %></dd>
        <dd>Sim Card  : <%= @result['SIMCARD'] %></dd>
        <dd>Fecha     : <%= @result['CREATED_AT'] %></dd>
        <dd>Garantia  : <%= @result['WARRANTY'] %></dd>
      <%end%>
    </dl>
  </div>
 
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>