<%= form_with(model: [@ticket, ticket_thread], local: true) do |f| %>

  <%= f.hidden_field :thread_type, value: thread_type %>

  <div class="form-group row mb-2 mb-lg-3">
    <%= f.label :body, for: "ticket_#{thread_type}_body", class: 'col-form-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.hidden_field :body, id: "ticket_#{thread_type}_body" %>
      <trix-editor input="<%= "ticket_#{thread_type}_body" %>"></trix-editor>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= f.label :attachments, for: "ticket_#{thread_type}_attachments", class: 'col-form-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :attachments, id: "ticket_#{thread_type}_attachments", class: 'form-control-file', multiple: true %>
    </div>
  </div>

  
  <div class="d-none">
   <%= f.label "Enviar Email" , class: 'col-form-label col-lg-2' %>
    <%= f.check_box :send_email,{checked: true, checked_value: "yes", unchecked_value: "No"} %>
  </div>


 <% if @habilita_estado_save %>
    <div class="row justify-content-end">
  <% else %>
    <div class="d-none">
   <% end %>
  <div class="col-lg-10">
      <%= f.submit 'Enviar', class: 'btn btn-primary' %>
  </div>
  </div>

  <%#= link_to "Enviar Encuesta", nuevo_path %>

  
<% end %>
