<% content_for :breadcrumb do %>
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">Prioridades</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="<%= ticket_priorities_path %>">Prioridades</a></li>
            <li class="breadcrumb-item active"><%= @ticket_priority.name %></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
<% end %>


<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-3">Detalle Prioridad</h4>
        <hr>

        <table class="table table-details mb-0">
          <tbody>
            <tr>
              <th scope="row" style="width: 150px;">Nombre:</th>
              <td><%= @ticket_priority.name || '-' %></td>
            </tr>
            <tr>
              <th scope="row">Color:</th>
              <td>
                <div class="box-priority-color" style="background-color: <%= @ticket_priority.color.to_s.strip %>"></div>
              </td>
            </tr>
            <tr>
              <th scope="row">Prioridad:</th>
              <td><%= @ticket_priority.priority || '-' %></td>
            </tr>
            <tr>
              <th scope="row">Horas:</th>
              <td><%= @ticket_priority.alerthours || '-' %></td>
            </tr>
            <tr>
              <th scope="row">Estado:</th>
              <td><%= TicketPriority.translate_enum_name(:status, @ticket_priority.status) %></td>
            </tr>
            <tr>
              <th scope="row">Registrado:</th>
              <td><%= @ticket_priority.created_at.strftime('%d/%m/%Y %I:%M %p') %></td>
            </tr>
            <tr>
              <th scope="row">Actualizado:</th>
              <td><%= @ticket_priority.updated_at.strftime('%d/%m/%Y %I:%M %p') %></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>


<%= link_to 'Editar', edit_ticket_priority_path(@ticket_priority) %> |
<%= link_to 'Atrás', ticket_priorities_path %>
